---
import Card from "../components/Card.astro";
import Sociali from "../components/Sociali.astro";
import Socialt from "../components/Socialt.astro";
import Socialu from "../components/Socialu.astro";
import Socialw from "../components/Socialw.astro";
import Layout from "../layouts/Layout.astro";
import Background2 from "../components/Background2.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex justify-center items-center mt-10">
      <img
        src="../../public/imgs/Logo.png"
        alt="logo"
        height="270px"
        width="195px"
      />
    </div>
    <div class="flex flex-col items-center text-center text-sm -mt-8">
      <h3 class="lema">Tenemos los <span class="text-white">mejores</span></h3>
      <span class="lema text-white">accesorios</span>
      <h3 class="lema">tecnológicos</h3>
    </div>

    <section class="relative mt-12">
      <!-- CABECERA -->
      <div class="relative flex flex-col items-center text-center text-sm">
        <h4 class="txtSubtitule z-10">Mira nuestros productos</h4>
        <h4 class="txtSubtitule z-10">destacados</h4>
      </div>
      <!-- BACKGROUND -->
      <div class="BackgroundProducts relative mx-auto mt-10">
        <!-- BUTTONS -->
        <div class="btnsSlide flex top-52 justify-between -mx-2">
          <button onclick="plusSlides()">
            <img src="../../public/imgs/btnLeft.png" alt="Button left" />
          </button>
          <button>
            <img src="../../public/imgs/btnRight.png" alt="Button Right" />
          </button>
        </div>
      </div>
      <!-- PRODUCTS -->
      <div class="overflow-x-auto absolute top-5 w-full">
        <div class="flex flex-nowrap gap-5">
          <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK3.png"
            />
          </div>
          <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK4.png"
            />
          </div>
          <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK1.png"
            />
          </div>
          <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK2.png"
            />
          </div>
          <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK5.png"
            />
          </div>
          <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK6.png"
            />
          </div>
          <!-- <div class="flex-none">
            <Card
              name="Holder de celular para escritorio"
              img="../../public/imgs/PV_DESK3.png"
            />
          </div> -->
          <!-- Agrega más tarjetas según sea necesario -->
        </div>
      </div>
      


      
    </section>

    <section class="relative mt-5">
      <!-- BACKGROUND -->
      <div class="relative">
        <Background2 />
        <!-- TEXTO CABECERA -->
        <div class="absolute top-0 left-0 right-0 text-center mt-10">
          <h3 class="text-white text-sm">Links que te seran utiles</h3>
          <p class="mx-auto w-max mt-4">
            <img src="../../public/imgs/bajar.png" alt="Bajar" />
          </p>
        </div>
      </div>
      <!-- REDES SOCIALES -->
      <div class="absolute top-32 mx-auto flex flex-col gap-8">
        <div class="mx-9">
          <Socialw
            logo="../../public/imgs/WhatsApp.png"
            title="ESCRIBENOS POR WHATSAPP"
            subtitle="Te brindamos asesoria personalizada"
          />
        </div>
        <div class="mx-9">
          <Socialt
            logo="../../public/imgs/tiktok.png"
            title="SÍGUENOS EN TIKTOK"
            subtitle="Tenemos los mejores consejos!"
          />
        </div>
        <div class="mx-9">
          <Sociali
            logo="../../public/imgs/instagram.png"
            title="SÍGUENOS EN INSTAGRAM"
            subtitle="Conoce nuestros productos"
          />
        </div>
        <div class="mx-9">
          <Socialu
            logo="../../public/imgs/ubicacion.png"
            title="DONDE ESTAMOS UBICADOS"
            subtitle="No hay problema, te llevamos al mapa"
          />
        </div>
        <!-- FOOTER -->
        <div class="-mt-2">
          <Footer />
        </div>
      </div>
    </section>

    <footer>
      <img
        src="../../public/imgs/logo2.png"
        alt="Logo final"
        class="mx-auto my-10"
      />
    </footer>

    <style>
      main {
        margin: auto;
      }
      .lema {
        font-family: "Poppins", sans-serif;
        font-style: bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.428px;
        text-shadow: 0px 4.147px 4.147px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.428px;
      }
      .BackgroundProducts {
        width: 80%;
        height: 260px;
        /* flex-shrink: 0; */
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.2);
        backdrop-filter: blur(17.399999618530273px);
      }
      .titleLinks {
        margin-top: 15px;
      }
      .txtSubtitule {
        color: #222;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: bold;
        font-weight: 800;
        line-height: 20.417px; /* 106.384% */
        letter-spacing: 0.384px;
      }
      .contenido {
        position: absolute;
        top: 0;
        left: 0;
      }
      .btnsSlide {
        position: relative;
        margin-top: -60px;
      }
    </style>
  </main>
</Layout>
