---
import Card from "../components/Card.astro";
import Product from "../components/Product.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex justify-center items-center mt-10">
      <img
        src="../../public/imgs/Logo.png"
        alt="logo"
        height="270px"
        width="195px"
      />
    </div>
    <div class="flex flex-col items-center text-center text-sm -mt-8">
      <h3 class="lema">Tenemos los <span class="text-white">mejores</span></h3>
      <span class="lema text-white">accesorios</span>
      <h3 class="lema">tecnológicos</h3>
    </div>

    <section class="relative mt-14">
      <!-- CABECERA -->
      <div class="relative flex flex-col items-center text-center text-sm">
        <h4 class="txtSubtitule">Mira nuestros productos</h4>
        <h4 class="txtSubtitule z-10">destacados</h4>
      </div>
      <!-- BACKGROUND -->
      <div class="BackgroundProducts mx-auto -mt-5"></div>
      <!-- PRODUCTS -->
      <div class="absolute top-5 grid grid-cols-2 gap-5">
        <Card
          name="Holder de celular para escritorio"
          img="../../public/imgs/PV_DESK1.png"
        />
        <Card
          name="Holder de celular para escritorio"
          img="../../public/imgs/PV_DESK1.png"
        />
      </div>
      <!-- BUTTONS -->
      <div class="btnsSlide flex justify-between px-8">
        <button>
          <img src="../../public/imgs/btnLeft.png" alt="Button left">
        </button>
        <button>
          <img src="../../public/imgs/btnRight.png" alt="Button Right" alt="">
        </button>
      </div>
    </section>

    <section class="mt-5">
      <Product></Product>

    </section>

    <style>
      main {
        margin: auto;
      }
      .lema {
        font-family: "Poppins", sans-serif;
        font-style: bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.428px;
        text-shadow: 0px 4.147px 4.147px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.428px;
      }
      .BackgroundProducts {
        width: 80%;
        height: 260px;
        /* flex-shrink: 0; */
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.2);
        backdrop-filter: blur(17.399999618530273px);
      }
      .titleLinks {
        margin-top: 15px;
      }
      .txtSubtitule {
        color: #222;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: bold;
        font-weight: 800;
        line-height: 20.417px; /* 106.384% */
        letter-spacing: 0.384px;
      }

      .grid {
        display: flex;
        flex-wrap: nowrap;
        animation: slide 10s linear infinite;
      }

      .slide {
        flex: 0 0 80%; /* Cambiar el número de tarjetas que quieres mostrar (por ejemplo, 25% para mostrar 4 tarjetas) */
        padding: 0 10px;
        min-width: 0;
        box-sizing: border-box;
      }
      .contenido {
        position: absolute;
        top: 0;
        left: 0;
      }

      .btnsSlide {
        position: relative;
        margin-top: -60px;
      }

      @keyframes slide {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    </style>
  </main>
</Layout>
