---
interface Props {
  name: string;
  img?: string;
}

const { name, img } = Astro.props;



---

<div class="mx-auto items-center text-center efect slide">
  <a href="#">
    <img alt="Art" src={img} class="w-full object-cover p-5" />

    <h3 class="-mt-12 font-bold text-white">
      {name}
    </h3>
  </a>
</div>

<!-- -------------------------------- -->
<style>
  img {
    width: 180px;
    height: 180px;
  }
  h3 {
    display: flex;
    width: 175px;
    padding: 10.229px;
    justify-content: center;
    align-items: center;
    gap: 10.229px;
    font-size: 10px;
    border-radius: 15.343px;
    background: rgba(0, 0, 0, 0.4);
  }
  .efect {
    display: flex;
    flex-wrap: nowrap;
    animation: slide 10s linear infinite;
  }
  .slide {
    flex: 0 0 80%; /* Cambiar el número de tarjetas que quieres mostrar (por ejemplo, 25% para mostrar 4 tarjetas) */
    padding: 0 10px;
    min-width: 0;
    box-sizing: border-box;
  }

  /* @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  } */
</style>
